body {
    font-family: arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,td {
    text-align: center;
}

#gohome {
    position: absolute;
    right: 8px;
    top: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 22px;
    color: white;
    background-color: #f47f41;
    border: 0px solid black;
    border-radius: 15px;
}

#gohome:hover {
    background-color: #f49541;
}

.matchdata {
    text-align: center;
}

.habitems {
    background-color: #429ef4;
}

.cargoitems, #cargotable {
    background-color: #f2982b;
}

.panelitems, #paneltable {
    background-color: #e5d119;
}


#containertable {
    display: table;
    width: 100%;
}

#containerrow {
    display: table-row;
    width: 100%;
}

#teamphoto, #containerpitdata {
    display: table-cell;
}

.matchdatatable td {
    padding: 8px;
    border-right: 2px solid black;
}

.matchdatatable td:first-child {
    border-left: 2px solid black;
}

.matchdatatable tr {
    border-bottom: 2px solid black;
}

#teamphoto {
    float: left;
    width: 35%;
}
#containerpitdata {
    width: 60%;
    float: right;
}

#containerpitdata tr {
    width: 100%;
}

#containerpitdata td {
    width: 100%;
    text-align: left;
}

#containerpitdata span {
    display: inline-block;
    margin: 0;
    height: 28px;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2px;
}
.pitdatafield {
    width: 23%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}


.pitdatalong {
    width: 65.85%;
}

.pitdatashort {
    width: 20.625%;
}

.pitdatafield, .pitdatalong, .pitdatashort {
    background-color: gray;
}