body {
    font-family: arial, sans-serif;
    background-color: #d7dae0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,td {
    text-align: center;
}

.matchdataheader {
    margin-top: 28px;
    margin-bottom: 28px;
}

#gohome, #findmatchbutton {
    position: absolute;
    right: 8px;
    top: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 22px;
    color: white;
    background-color: #f47f41;
    border: 0px solid black;
    border-radius: 15px;
}

#gohome:hover, #findmatchbutton:hover {
    background-color: #f49541;
}

#findmatchbutton {
    right: 140px;
    height: 63px;
}

#inputmatchnumber {
    margin-left: 12px;
}




.matchdata {
    text-align: center;
}

.habitems {
    background-color: #429ef4;
}

    /*defenseitems is kept under habitems
      the colours are listed below:
      
      no defense - #ffc1b7
      mid defense - #ff8672
      good defense - #ff4426
      
      */

.cargoitems, #cargotable {
    background-color: #f2982b;
}

.panelitems, #paneltable {
    background-color: #e5d119;
}

#hometable {
    width: 100%;
}

#hometable tr {
    height: 48px;
    border-bottom: 2px solid black;
}

#hometable tr:last-child {
    border-bottom: 0px solid black;
}

#hometable td, #hometable th {
    border-right: 2px solid black
}

#hometable td:last-child, #hometable th:last-child {
    border-right: 0px solid black;
}

#hometable tr:first-child {
    background-color: #d7dae0;
}

#hometable tr {
    background-color: #f2f3f4;
}

#hometable tr:nth-child(even) {
    background-color: #e5e6ea;
}


#homeid { width: 10%; }
#homenme { width: 20%; }
#homeview { width: 14%; }
#homescout { width: 14%; }
#homepit { width: 14%; }
#homepreload { width: 14%; }
#homeedit { width: 14%; }




#containertable {
    display: table;
    width: 100%;
}

#containerrow {
    display: table-row;
    width: 100%;
}

#teamphoto, #containerpitdata {
    display: table-cell;
}

.matchdatatable td {
    padding: 8px;
    border-right: 2px solid black;
}

.matchdatatable td:first-child {
    border-left: 2px solid black;
}

.matchdatatable tr {
    border-bottom: 2px solid black;
}

#teamphoto {
    float: left;
    width: 35%;
}
#containerpitdata {
    width: 60%;
    float: right;
}

#containerpitdata tr {
    width: 100%;
}

#containerpitdata td {
    width: 100%;
    text-align: left;
}

#containerpitdata span {
    display: inline-block;
    margin: 0;
    height: 28px;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2px;
}

#containerpitdata .pitdatabig, #containerpitdata .pitdatafieldbig {
    height: 56px;
}

.pitdatafield, .pitdatafieldbig {
    width: 23%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.pitdatalong, .pitdatabig {
    width: 65.85%;
}

.pitdatashort {
    width: 20.625%;
}

.pitdatafield, .pitdatalong, .pitdatashort, .pitdatafieldbig, .pitdatabig {
    background-color: #bbc3cc;
}