body{
  font-family: Courier, Arial, sans-serif;
  font-size: 18px;
  background-image: url("../photos/spacewallpaper.png");
  font-style: italic;
}

input[type="file"] {

}



#bigtable {
  margin-top: 24px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  height: 950px;
  width: 1040px;
  padding: 16px;
}

#toprow, #middlerow, #bottomrow {
  display: table-row;
}

#general, #drive, #misc, #start, #end {
  display: table-cell;
  color: white;
  vertical-align: top;
  text-align: center;
  border: 2px solid #444444;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.16), 0 5px 13px 0 rgba(0,0,0,0.12);
}

#hatchcargo {
  display: table-cell;
  color: white;
  vertical-align: top;
  text-align: center;
}

#general, #drive, #misc {
  width: 500px;
  float: left;
  background-color: #444444;
}

#start, #end {
  width: 500px;
  float: right;
  background-color: #444444;
}

#hatchcargo {
  width: 500px;
  float: right;
}

#hatchcargotable {
  display: table
}

#hatchcargorow {
  display: table-row;
}

#h, #c {
  display: table-cell;
  width: 220px;
  background-color: #444444;
  border: 2px solid #444444;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.16), 0 5px 13px 0 rgba(0,0,0,0.12);
}

#cargo {
  margin-left: 48px;
}

#h, #c, #drive {
  height: 320px;
}

#misc, #end {
  height: 220px;
}
#general, #start {
  height: 290px;
}

#hatch, #cargo {
  display:inline-block;
}


.title {
  color: black;
  font-weight: bolder;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 6px;
  color: white;
  text-decoration: underline
}

.element, .sandstormelement, .endgameleft {
  text-align: center;
}





#general .label, #drive .label, #misc .label {
  width: 220px;
  display: inline-block;
}


.label, #drivetraincomments, #generalcomments {
  font-weight: bolder;
  font-style: normal;
}

.inputs, .miniinputs, textarea {
  margin-bottom: 16px;
  width: 160px;
  font-size: 18px;
}

textarea {
    width: 380px;
    resize: none;
}


.miniinputs {
     width: 40px;
}

.sandstorminputs {
  width: 40px;
  font-size: 18px;
}

.sandstormelement {
  display: inline-block;
  margin-bottom: 16px;
}

.inputs[type="radio"] {
  width: 24px;
  height: 24px;
  vertical-align: -35%
}

#driverow3 {
  margin-bottom: 32px;
}

#rookierow, #sandstormrow, #endgamerow {
  margin-top: 8px;
}

#rookieleft, #sandstormleft, .endgameleft {
  margin-right: 48px;
}

#sandstormitemleft {
  margin-right: 20px;
}

.checkinputs {
  margin-top: 6px;
  width: 32px;
  height: 24px;
  vertical-align: -26%;
}

.checkelement, .checkelementsand {
  display: inline-block;
  width: 120px;
  margin-left: 16px;
  text-align: left;
}

.checkelementsand {
    width: 64px;
    margin-bottom: 16px;
}

#cargo .checkelement {
  margin-left: 0px;
  text-align: right;
  margin-right: 16px;
}

.itemelementdown {
  display: inline-block;
  margin-top: 12px;
}

#drivetraincomments, #generalcomments {
    width: 100%;
    display: inline-block;
    text-align: center;
}


#showtop {
  z-index: 3;
}

#submitform, #submitphoto, #gohome, .customupload {
  font-weight: bold;
  font-size: 16px;
  padding: 22px;
  color: white;
  background-color: #f47f41;
  border: 0px solid black;
  display: inline-block;
  border-radius: 15px;
  font-style: normal;
  font-family: arial;
  height: 80px;
}

#selectedfile {
    font-style: italic;
    font-family: arial;
    font-size: 12px;
    text-align: center;
}

#submitform {
    position: absolute;
    top: 8px;
    left: 320px;
}

#uploadedimage {
    margin-top: 8px;
}

#gohome {
    position: absolute;
    top: 8px;
    right: 8px;
}

#gohome {
    float: right;
}

#submit:hover, #gohome:hover {
    background-color: #f49541;
}

.customupload {
    padding-bottom: 0px;
    height: 58px;
}

.modelbl {
  z-index: -2;
  left: 0px;
  position: absolute;
  width: 100%;
  background-color: #f4bf42;
  color: white;
  font-style: normal;
}



#modelbltop {
  top: 0px;
}

#modelblbtm {
  margin-top: 16px;
  bottom: 0px;
}

.modelbl p {
  font-size: 48px;
  font-weight: 600;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0px;
  color: white;
  text-align: center;
}

