body{
  font-family: Courier New, Roboto, sans-serif;
  font-size: 16px;
  background-image: url("photos/spacewallpaper.png");
  overflow: hidden;
}



#bigtable {
  margin-top: 60px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  width: 1100px;
  padding: 16px;
  background-color: blue;
}

#toprow, #middlerow, #bottomrow {
  display: table-row;
}

#general, #drive, #misc, #start, #end, #hatch, #cargo {
  display: table-cell;
  color: red;
}

#general, #drive, #misc {
  width: 500px;
  float: left;
  background-color: green;
}

#start, #end, #hatchcargo {
  width: 500px;
  float: right;
  background-color: green;
}

#hatchcargotable {
  display: table
}

#hatchcargorow {
  display: table-row;
}

#hatch, #cargo {
  display: table-cell;
  width: 228px;
  background-color: green;
}

#general, #start {
  height: 140px;
}








.modelbl {
  z-index: 2;
  left: 0px;
  position: fixed;
  width: 100%;
  background-color: #6CCC12;
  color: white;
}

#modelbltop {
  top: 0px;
}

#modelblbtm {
  margin-top: 16px;
  bottom: 0px;
}

.modelbl p {
  font-size: 48px;
  font-weight: 600;
  margin: 0px;
  color: white;
  text-align: center;
}

